/* BASIC RESET */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

/*
==========================================================================
                        BLUE BAR HEADER
===========================================================================
*/
.top-blue-bar {
    background-color: #004c8d;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 6px 16px;
    font-size: 12px;
    color: #fff9fb;
    /*width: 100%;*/
}
.top-blue-bar strong {
    font-weight: 800;
}
.top-blue-bar p {
    letter-spacing: 0.5px;
    white-space: nowrap;
}

/*
==========================================================================
                        NAV BAR HEADER
===========================================================================
*/

/* HEADER WRAPPER */
.csite-header {
    background-color: #fff9fb;
}
/* GRID CONTAINER*/
.grid-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 16px;
}
/* HEADER FLEX ROW */
.csite-header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 18px 0;
}

/* HEADER NAV BAR LOGO */
.csite-logo-img {
    width: 280px;
    height: auto;
    display: block;
}

/* DESKTOP NAV BAR CONTENT */
.csite-navbar {
    display: flex;
    gap: 24px;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    list-style: none;
    letter-spacing: 0.5px;
    margin: 0;
    padding: 0;
}

/* DESKTOP NAVBAR OPTIONS */
.csite-navbar li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #000000;
}
/* DESKTOP NAVBAR OPTION HOVER COLOR*/
.csite-navbar li a:hover {
    color: #0ed2db;
}

/* DESKTOP CALL US BUTTON */
.call-btn {
    display:flex;
    flex-direction: column;
    color: #000000;
    text-decoration: none;
}
.csite-navbar-phone-number {
    display: flex;
    flex-direction: column;
    line-height: 1.1;
}
.csite-navbar-phone--text {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 15px;
    color: #004c9c;
    font-weight: 600;
}
.csite-navbar-phone--icon img {
    width: 25px;
    height: 25px;
}
.csite-navbar-phone--number {
    font-size: 20px;
    font-weight: 700;
    color: #000000;
}

/* DESKTOP GET MY OFFER BUTTON */
.csite-call-btn-small, .green-btn.csite-btn {
    background-color: #00b43d;
    color: #fff9fb;
    padding: 10px 22px;
    border-radius: 999px;
    font-size: 21px;
    font-weight: 700;
    box-shadow: 0 3px 6px rgba(0,0,0,0.25);
    text-decoration: none;
    border: none;
    cursor: pointer;
}
/* DESKTOP GET MY OFFER BUTTON HOVER */
.csite-call-btn-small:hover {
    background-color: #0a9c24;
}
.csite-call-btn {
    display: flex;
    align-items: center;
}

/*
=========================================================================
                        MOBILE HEADER
=========================================================================
*/
/* BURGER BUTTON (HIDDEN ON DESKTOP) */
.burger-menu-btn {
    display: none;
    cursor: pointer;
}
.burger-menu-btn img {
    width: 28px;
    height: auto;
}
/* MOBILE FIRST BREAKPOINT */
@media (max-width:900px) {
    /* Hide Desktop Nav + Mobile Nav */
    .csite-navbar, .call-btn {
        display: none;
    }

    .csite-header_content {
        justify-content: space-between;
    }

    /* logo left, button center-ish, buger right */
    .csite-logo-link {
        flex: 0 0 auto;
    }

    .csite-call-btn {
        flex: 1;
        display: flex;
        justify-content: center;
    }

    .csite-call-btn-small {
        padding-inline: 18px;
        font-size: 18px;
    }

    .burger-menu-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 auto;
    }
}

/* OVERLAY WRAPPER - HIDDEN BY DEFAULT */
#mobile-menu {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4); /*dimmed overlay*/
    display: none;
    z-index: 999px;
}

#mobile-menu.open {
  display: block;
}

/* SLIDE IN PANEL */
.mobile-menu-content {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 320px;
    max-width: 80%;
    background: #fff9fb;
    padding: 24px 24px 32px;
    display: flex;
    flex-direction: column;
    box-shadow: -4px 0 12px rgba(0,0,0,0.2);
}

/* CLOSE BUTTON (X) */
.mobile-menu-close-btn {
    margin-left: auto;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.mobile-menu-close-btn img {
    width: 20px;
    height: auto;
}

/* MOBILE MENU TITLE */
.mobile-menu-title {
    margin-top: 10px;
    margin-bottom: 24px;
}

.mobile-menu-title span {
    font-size: 26px;
    font-weight: 700;
}

/* MOBILE NAVIGATION LIST*/
.mobile-navigation-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.mobile-menu-item {
    margin: 18px;
}

.mobile-menu-item a {
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    text-decoration: none;
}

/* MOBILE MENU HOVER */
.mobile-menu-item a:hover {
    color: #0ed2db;
}

/* MOBILE GET MY OFFER BUTTON */
.green-btn.csite-btn {
    margin-top: 40px;
    align-self: flex-start;
    padding-inline: 40px;
}